NEXT_PUBLIC_MAPBOX_TOKEN=pk_tu_token_de_mapbox_aqui
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=pega_aqui_el_codi_de_google_search_console
NEXT_PUBLIC_META_PIXEL_ID=pega_aqui_el_id_del_pixel_de_meta

# Apps Script webhook (server-side only, sense prefix NEXT_PUBLIC_)
APPS_SCRIPT_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwKLnFoBtf9LJm591f2MDBhs6gmoAMhTApqQRiEKQ60kxyeITJipUj7teZFmv6XJNYgMQ/exec
